<ul class="x-navigation x-navigation-horizontal x-navigation-panel"><!-- horizontal navigation -->
         
    <li class="xn-icon-button"><!-- toggle sidebar navigation -->
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a><!-- toggle sidebar button -->
    </li><!-- ./toggle sidebar navigation -->


    <li class="xn-icon-button pull-right last">
        <a href="#"><span class="fa fa-power-off"></span></a>
        <ul class="xn-drop-left animated zoomIn">
            <li><a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Sign Out</a></li>
        </ul>                        
    </li> 
     
</ul><!-- ./horizontal navigation -->
 
<ul class="breadcrumb"><!-- breadcrumb -->
    <li><a href="#">Voting System</a></li><!-- link -->
    <li class="active">Voter's List</li><!-- active -->
</ul><!-- ./breadcrumb -->

<div class="page-title"><!-- page title -->
    <h2><span class="fa fa-file"></span> Add / Register</h2>
</div><!-- ./page title -->
 
<div class="page-content-wrap"><!-- page content wrapper -->

    <div class="row">
        <div class="col-md-12">
            <!-- START USERS ACTIVITY BLOCK -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Voters</h3>
                    </div>                                    
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a ui-sref="admin.voters"><span class="fa fa-arrow-left"></span></a></li>                                      
                    </ul>                                    
                </div>                                
                <div class="panel-body">                                                                        
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Fullname</label>
                            <div class="col-md-6 col-xs-12">                                            
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control"/>
                                </div>                                            
                                <span class="help-block">Fullname of voters'</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Contact Number</label>
                            <div class="col-md-6 col-xs-12">                                            
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-mobile"></span></span>
                                    <input type="number" class="form-control"/>
                                </div>                                            
                                <span class="help-block">Contact number</span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Address</label>
                            <div class="col-md-6 col-xs-12">                                            
                                <textarea class="form-control" rows="5"></textarea>
                                <span class="help-block">Complete Address</span>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default">Clear Form</button>                                    
                    <button class="btn btn-primary pull-right" ng-click="registerVoter()">Submit</button>
                </div>                                   
            </div>
            <!-- END USERS ACTIVITY BLOCK -->
        </div>
    </div>

</div><!-- ./page content wrapper -->
