<ul class="x-navigation x-navigation-horizontal x-navigation-panel"><!-- horizontal navigation -->
         
    <li class="xn-icon-button"><!-- toggle sidebar navigation -->
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a><!-- toggle sidebar button -->
    </li><!-- ./toggle sidebar navigation -->


    <li class="xn-icon-button pull-right last">
        <a href="#"><span class="fa fa-power-off"></span></a>
        <ul class="xn-drop-left animated zoomIn">
            <li><a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Sign Out</a></li>
        </ul>                        
    </li> 
     
</ul><!-- ./horizontal navigation -->
 
<ul class="breadcrumb"><!-- breadcrumb -->
    <li><a href="#">Voting System</a></li><!-- link -->
    <li class="active">Dashboard</li><!-- active -->
</ul><!-- ./breadcrumb -->

<div class="page-title"><!-- page title -->
    <h2><span class="fa fa-home"></span> Dashboard</h2>
</div><!-- ./page title -->
 
<div class="page-content-wrap"><!-- page content wrapper -->
    
    <div class="row">
        <div class="col-md-3">
            <!-- START WIDGET MESSAGES -->
            <div class="widget widget-default widget-item-icon">
                <div class="widget-item-left">
                    <span class="fa fa-users"></span>
                </div>                             
                <div class="widget-data">
                    <div class="widget-int num-count">{{data.total_voters}}</div>
                    <div class="widget-title">Voters</div>
                    <div class="widget-subtitle">(Registered)</div>
                </div>      
                <div class="widget-controls">                                
                    <a href="#" class="widget-control-right" data-toggle="tooltip" data-placement="top" title="View Registered Voters"><span class="fa fa-eye"></span></a>
                </div>
            </div>                            
            <!-- END WIDGET MESSAGES -->
            
        </div>
        <div class="col-md-3">
            
            <!-- START WIDGET REGISTRED -->
            <div class="widget widget-default widget-item-icon">
                <div class="widget-item-left">
                    <span class="fa fa-sitemap"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">{{data.total_positions}}</div>
                    <div class="widget-title">Positions</div>
                    <div class="widget-subtitle">Positions for your organization or company</div>
                </div>
                <div class="widget-controls">                                
                    <a class="widget-control-right" data-toggle="tooltip" data-placement="top" title="View Positions"><span class="fa fa-eye"></span></a>
                </div>                            
            </div>                            
            <!-- END WIDGET REGISTRED -->

        </div>

        <div class="col-md-3">
            
            <!-- START WIDGET REGISTRED -->
            <div class="widget widget-default widget-item-icon">
                <div class="widget-item-left">
                    <span class="fa fa-thumbs-up"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">{{data.total_candidates}}</div>
                    <div class="widget-title">Candidates</div>
                    <div class="widget-subtitle">Candidates for company position.</div>
                </div>
                <div class="widget-controls">                                
                   <a href="#" class="widget-control-right" data-toggle="tooltip" data-placement="top" title="View Candidates"><span class="fa fa-eye"></span></a>
                </div>                            
            </div>                            
            <!-- END WIDGET REGISTRED -->

        </div>

        <div class="col-md-3">
            
            <!-- START WIDGET REGISTRED -->
            <div class="widget widget-default widget-item-icon">
                <div class="widget-item-left">
                    <span class="glyphicon glyphicon-stats"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">
                        <span ng-show="!voting_status" class="label label-danger label-form">CLOSED</span> 
                        <span ng-show="voting_status" class="label label-success label-form">OPEN</span>
                    </div>
                    <div class="widget-title">
                        Voting Status
                    </div>
                    <div class="widget-subtitle">Start or end the voting.</div>
                </div>
            </div>                            
            <!-- END WIDGET REGISTRED -->

        </div>

    </div>


    <div class="row">
        <div class="col-md-8">
            <!-- START USERS ACTIVITY BLOCK -->
            <div class="panel panel-default" ng-repeat="position in data.positions">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Voting Status</h3>
                        <span>{{position.title}}</span>
                    </div>
                </div>
                <div class="panel-body padding-0">
                    <div voting-result voting-data="position.candidates" voting-show="show_result"></div>        
                </div>
            </div>
            <!-- END USERS ACTIVITY BLOCK -->
        </div>

        <!-- SETTINGS WIDGET -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-cogs"></span> Settings</h3>                                                                
                </div>
                <div class="panel-body">
                    <form action="#" role="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label text-left">Voting</label>
                            <div class="col-md-3">
                                <label class="switch">
                                    <input type="checkbox" class="switch" ng-model="switch.voting_status" ng-change="switchFunction.voting()"/>
                                    <span></span>
                                </label>     
                            </div>
                            <div class="col-md-5">
                                <span class="help-block">Start or end the voting</span>
                            </div>
                        </div>                                    
                        <div class="form-group">
                            <label class="col-md-4 control-label text-left">Voter's Login</label>
                            <div class="col-md-3">
                                <label class="switch">
                                    <input type="checkbox" class="switch"  ng-model="switch.has_voting_login" ng-change="switchFunction.voting_login()"/>
                                    <span></span>
                                </label>
                            </div>
                            <div class="col-md-5">
                                <span class="help-block">Allow voter's login</span>
                            </div>                                        
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-left">Registration</label>
                            <div class="col-md-3">
                                <label class="switch">
                                    <input type="checkbox" class="switch"  ng-model="switch.has_registration" ng-change="switchFunction.voting_registration()"/>
                                    <span></span>
                                </label>
                            </div>
                            <div class="col-md-5">
                                <span class="help-block">Allow the voter's registration</span>
                            </div>                                        
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-left">Show Result</label>
                            <div class="col-md-3">
                                <label class="switch">
                                    <input type="checkbox" class="switch"  ng-model="switch.show_result" ng-change="switchFunction.voting_result()"/>
                                    <span></span>
                                </label>
                            </div>
                            <div class="col-md-5">
                                <span class="help-block">Allow to show the final result</span>
                            </div>                                                                                
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Voters</h3>
                        <span>That is in the process of voting.</span>
                    </div>                                    
                </div>
                <div class="panel-body panel-body-table">
                    <div class="table-responsive" style="padding: 10px;">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="50%">Voter's Code</th>
                                    <th width="20%">Status</th>
                                    <th width="20%">Timestamp</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="voter in data.voters">
                                    <td><strong>{{voter.voter_code}}</strong></td>
                                    <td><span class="label label-success">{{voter.status}}</span></td>
                                    <td><span class="label label-success">{{voter.voted_at}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>

        </div>
        <!-- END SETTINGS WIDGET -->
    </div>
</div><!-- ./page content wrapper -->
