<div class="page-container"><!-- page container -->   
     
    <div class="page-sidebar"><!-- page sidebar -->
        
        <div sidebar></div>

    </div><!-- ./page sidebar -->   
     
    <div class="page-content" style="min-height: 800px;"><!-- page content -->       
 
        <div ui-view="content"></div>
         
    </div><!-- ./page content -->
     
</div><!-- ./page container -->   
