<ul class="x-navigation x-navigation-horizontal x-navigation-panel"><!-- horizontal navigation -->
         
    <li class="xn-icon-button"><!-- toggle sidebar navigation -->
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a><!-- toggle sidebar button -->
    </li><!-- ./toggle sidebar navigation -->


    <li class="xn-icon-button pull-right last">
        <a href="#"><span class="fa fa-power-off"></span></a>
        <ul class="xn-drop-left animated zoomIn">
            <li><a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Sign Out</a></li>
        </ul>                        
    </li> 
     
</ul><!-- ./horizontal navigation -->
 
<ul class="breadcrumb"><!-- breadcrumb -->
    <li><a href="#">Voting System</a></li><!-- link -->
    <li class="active">List of Candidates</li><!-- active -->
</ul><!-- ./breadcrumb -->

<div class="page-title"><!-- page title -->
    <h2><span class="fa fa-file"></span> List of Positions and Candidates <span class="label label-success" ng-show="is_open()">Voting is open.</span> <span class="label label-danger" ng-show="!is_open()">Voting is closed.</span></h2>
    <button class="btn btn-default btn-condensed pull-right" ng-hide="is_started()" ng-click="startTour()">Start tour</button>
    <button class="btn btn-default btn-condensed pull-right" ng-hide="is_started()" ng-click="viewListOfCandidates()"><i class="fa fa-eye"></i> List of Candidates</button>
    <button class="btn btn-default btn-condensed pull-right" ng-hide="is_started()" ng-click="addNewPositionForm()"  data-step="1" data-intro="Add new Position" data-position="right"><i class="glyphicon glyphicon-plus"></i> Add new position</button>
</div><!-- ./page title -->
 
<div class="page-content-wrap"><!-- page content wrapper -->

    <div class="row">
        <div class="col-md-12" ng-show="is_started()">
            <div class="alert alert-warning">Voting is started, you are not allowed to edit/update/delete any of the items below.</div>
        </div>
        <div class="col-md-12" ng-show="positions.length <= 0">
            <div class="alert alert-warning">There is no position found.</div>
        </div>
        <div class="col-md-4" ng-repeat="position in positions" data-step="2" data-intro="List of positions you've created." data-position="right">
            <!-- CONTACT LIST WIDGET -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" data-step="3" data-intro="This is the position name." data-position="right">{{position.title}}</h3>         
                    <ul class="panel-controls">
                        <li><a data-step="4" data-intro="Update the information of this position" data-position="right" ng-hide="is_started()" class="control-primary" ng-click="editPosition(position)" title="Update this position"><span class="fa fa-edit"></span></a></li>
                        <li><a data-step="5" data-intro="Remove this position. In case the voting is already started you cannot remove/delete this position." data-position="right" ng-hide="is_started()" class="control-danger" ng-click="deletePosition(position.id)" title="Delete this position"><span class="fa fa-trash"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body list-group list-group-contacts" scroll style="height: 400px;>        
                    <a class="list-group-item">                                 
                        <button data-step="6" data-intro="Assign candidate for this position." data-position="right" ng-hide="is_started()" class="btn btn-default btn-block" ng-click="assignCandidate(position,position.id)"><span class="fa fa-plus"></span> Assign Candidate</button>
                    </a>
                    <a class="list-group-item" ng-repeat="candidate in position.candidates">                                 
                        <div class="list-group-status status-online"></div>
                        <img ng-src="assets/assets/images/users/{{candidate.person.photo}}" class="pull-left" alt="Brad Pitt"/>
                        <span class="contacts-title">{{candidate.person.firstname}} {{candidate.person.lastname}}</span>
                        <p>{{candidate.person.firstname}}</p>
                        <div class="list-group-controls">
                            <!-- <button class="btn btn-success"><span class="fa fa-edit"></span></button> -->
                            <button data-step="7" data-intro="You can remove this candidate." data-position="right" ng-hide="is_started()" class="btn btn-danger" ng-click="removeAssignedCandidate(position, candidate)"><span class="fa fa-times"></span></button>
                        </div>                                    
                    </a>                              
                </div>
            </div>
            <!-- END CONTACT LIST WIDGET -->
        </div>
    </div>

</div><!-- ./page content wrapper -->
