<ul class="x-navigation x-navigation-horizontal x-navigation-panel"><!-- horizontal navigation -->
         
    <li class="xn-icon-button"><!-- toggle sidebar navigation -->
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a><!-- toggle sidebar button -->
    </li><!-- ./toggle sidebar navigation -->


    <li class="xn-icon-button pull-right last">
        <a href="#"><span class="fa fa-power-off"></span></a>
        <ul class="xn-drop-left animated zoomIn">
            <li><a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Sign Out</a></li>
        </ul>                        
    </li> 
     
</ul><!-- ./horizontal navigation -->
 
<ul class="breadcrumb"><!-- breadcrumb -->
    <li><a href="#">Voting System</a></li><!-- link -->
    <li class="active">Report</li><!-- active -->
</ul><!-- ./breadcrumb -->

<div class="page-title"><!-- page title -->
    <h2><span class="fa fa-home"></span> Report</h2>
</div><!-- ./page title -->
 
<div class="page-content-wrap"><!-- page content wrapper -->
    
    <div class="row">
        <div class="col-md-3">
            <!-- START WIDGET MESSAGES -->
            <div class="widget widget-default widget-item-icon">
                <div class="widget-item-left">
                    <span class="fa fa-users"></span>
                </div>                             
                <div class="widget-data">
                    <div class="widget-int num-count">{{data.total_voters}}</div>
                    <div class="widget-title">Voters</div>
                    <div class="widget-subtitle">(Registered)</div>
                </div>      
                <div class="widget-controls">                                
                    <a href="#" class="widget-control-right" data-toggle="tooltip" data-placement="top" title="View Registered Voters"><span class="fa fa-eye"></span></a>
                </div>
            </div>                            
            <!-- END WIDGET MESSAGES -->
            
        </div>
        <div class="col-md-3">
            
            <!-- START WIDGET REGISTRED -->
            <div class="widget widget-default widget-item-icon">
                <div class="widget-item-left">
                    <span class="fa fa-sitemap"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">{{data.total_positions}}</div>
                    <div class="widget-title">Positions</div>
                    <div class="widget-subtitle">Positions for your organization or company</div>
                </div>
                <div class="widget-controls">                                
                    <a class="widget-control-right" data-toggle="tooltip" data-placement="top" title="View Positions"><span class="fa fa-eye"></span></a>
                </div>                            
            </div>                            
            <!-- END WIDGET REGISTRED -->

        </div>

        <div class="col-md-3">
            
            <!-- START WIDGET REGISTRED -->
            <div class="widget widget-default widget-item-icon">
                <div class="widget-item-left">
                    <span class="fa fa-thumbs-up"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">{{data.total_candidates}}</div>
                    <div class="widget-title">Candidates</div>
                    <div class="widget-subtitle">Candidates for company position.</div>
                </div>
                <div class="widget-controls">                                
                   <a href="#" class="widget-control-right" data-toggle="tooltip" data-placement="top" title="View Candidates"><span class="fa fa-eye"></span></a>
                </div>                            
            </div>                            
            <!-- END WIDGET REGISTRED -->

        </div>

        <div class="col-md-3">
            
            <!-- START WIDGET REGISTRED -->
            <div class="widget widget-default widget-item-icon">
                <div class="widget-item-left">
                    <span class="glyphicon glyphicon-stats"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">
                        <span ng-show="!voting_status" class="label label-danger label-form">CLOSED</span> 
                        <span ng-show="voting_status" class="label label-success label-form">OPEN</span>
                    </div>
                    <div class="widget-title">
                        Voting Status
                    </div>
                    <div class="widget-subtitle">Start or end the voting.</div>
                </div>
            </div>                            
            <!-- END WIDGET REGISTRED -->

        </div>

    </div>


    <div class="row">
        <div class="col-md-12">
            <!-- START USERS ACTIVITY BLOCK  ng-repeat="position in data.positions"-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Reports</h3>
                        <span>Generate a report</span>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-default"><span class="fa fa-download"></span> .CSV</button>
                            <button class="btn btn-default"><span class="fa fa-download"></span> .PDF</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-1 control-label">Type: </label>
                            <div class="col-md-3">
                                <select class="form-control" ng-model="report.type" select-picker>
                                    <option value="1">List of voters</option>
                                    <option value="2">List of voters who already voted</option>
                                    <option value="3">List of voters who didn't vote</option>
                                    <option value="4">List of Positions and Candidates</option>
                                    <option value="5">Voting Result</option>
                                </select>
                            </div>

                            <label class="col-md-1 control-label">Order by: </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="report.order_by" placeholder="i.e. fieldname">
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" ng-model="report.order" select-picker>
                                    <option value="ASC">Ascending</option>
                                    <option value="DESC">Descending</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <button class="btn btn-primary btn-block" ng-click="generateReport()">GENERATE</button>
                            </div>

                        </div>
                    </div>                                                               
                </div>
                <div class="panel-body">
                    
                    <!-- Reports for voters list -->
                    <div class="row">
                        <div class="col-md-12" ng-show="reports.type == 1">
                            <table class="table table-bordered" ng-show="reports.data.voters.length > 0">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="voter in reports.data.voters">
                                        <td>{{voter.voter_code}}</td>
                                        <td>{{voter.firstname}}</td>
                                        <td>{{voter.status}}</td>
                                        <td>{{voter.formatted_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="col-md-12" ng-show="reports.type == 2">
                            <table class="table table-bordered" ng-show="reports.data.voters.length > 0">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="voter in reports.data.voters">
                                        <td>{{voter.voter_code}}</td>
                                        <td>{{voter.firstname}}</td>
                                        <td>{{voter.status}}</td>
                                        <td>{{voter.formatted_date}}</td>
                                    </tr>
                                    <tr style="font-weight: bold;">
                                        <td colspan="3" align="right">TOTAL</td>
                                        <td>{{reports.data.total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12" ng-show="reports.type == 3">
                            <table class="table table-bordered" ng-show="reports.data.voters.length > 0">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="voter in reports.data.voters">
                                        <td>{{voter.voter_code}}</td>
                                        <td>{{voter.firstname}}</td>
                                        <td>{{voter.status}}</td>
                                        <td>{{voter.formatted_date}}</td>
                                    </tr>
                                    <tr style="font-weight: bold;">
                                        <td colspan="3" align="right">TOTAL</td>
                                        <td>{{reports.data.total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="col-md-12" ng-show="reports.type == 4">
                            <table class="table table-bordered" ng-show="reports.data.positions.length > 0" ng-repeat="position in reports.data.positions">
                                <thead>
                                    <tr>
                                        <th colspan="2">{{position.title}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="candidate in position.candidates">
                                        <td width="30%">{{candidate.firstname}} {{candidate.middlename}} {{candidate.lastname}}</td>
                                        <td>{{candidate.mobile_number}}</td>
                                    </tr>
                                    <tr style="font-weight: bold;">
                                        <td align="right">Total Candidates</td>
                                        <td>{{position.total_candidates}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                         <div class="col-md-12" ng-show="reports.type == 5">
                            <table class="table table-bordered" ng-show="reports.data.positions.length > 0" ng-repeat="position in reports.data.positions">
                                <thead>
                                    <tr>
                                        <th colspan="3">{{position.title}} ({{position.elected_count}})</th>
                                    </tr>

                                    <tr>
                                        <th>Candidate</th>
                                        <th>Total Votes</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="candidate in position.candidates">
                                        <td width="30%">{{candidate.firstname}} {{candidate.middlename}} {{candidate.lastname}}</td>
                                        <td>{{candidate.total_votes}}</td>
                                        <td>{{candidate.status}}</td>
                                    </tr>
                                    <tr style="font-weight: bold;">
                                        <td>Total Candidates : {{position.total_candidates}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- Voters list -->

                    <div class="row" ng-show="reports.data.voters.length <= 0">
                        <div class="col-md-12">
                            <div class="empty" style="font-size: 150px; text-align: center;">
                             <i style="opacity: .1;" class="fa fa-frown-o"></i>
                             <h5 style="font-weight: bold; font-size: 16px; margin-top: -20px;  opacity: .3;">No Report found.</h5>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- END USERS ACTIVITY BLOCK -->
        </div>

    </div>
</div><!-- ./page content wrapper -->
