

<!-- ADMIN -->
<ul class="x-navigation" ng-show="isAdmin"><!-- start navigation -->
     
    <li class=""><!-- your logo -->
        <a ui-sref="admin.index">{{APP_LOGO}} {{APP_VERSION}}</a>
        <a href="#" class="x-navigation-control"></a><!-- mobile toggle navigation button -->
    </li><!-- ./your logo -->

    <li class="xn-profile">
        <a href="#" class="profile-mini">
            <img ng-src="assets/assets/images/users/avatar.jpg" alt="John Doe"/>
        </a>
        <div class="profile">
            <div class="profile-image">
                <img ng-src="assets/assets/images/users/avatar.jpg" alt="John Doe"/>
            </div>
            <div class="profile-data">
                <div class="profile-data-name">{{username}}</div>
                <div class="profile-data-title">{{role}}</div>
            </div>
        </div>                                                                        
    </li>
     
    <li class="xn-title">Navigation</li><!-- Navigation title -->
    
    <li><!-- navigation item -->
        <a ui-sref="admin.index"><!-- navigation button -->
            <span class="fa fa-desktop"></span><!-- navigation button icon -->
            <span class="xn-text">Dashboard</span><!-- navigation button text -->
        </a><!-- ./navigation button -->
    </li><!-- ./navigation item -->

    <li><!-- navigation item -->
        <a ui-sref="admin.voters"><!-- navigation button -->
            <span class="fa fa-user"></span><!-- navigation button icon -->
            <span class="xn-text">Voters</span><!-- navigation button text -->
        </a><!-- ./navigation button -->
    </li><!-- ./navigation item -->

    <li><!-- navigation item -->
        <a ui-sref="admin.candidates"><!-- navigation button -->
            <span class="fa fa-users"></span><!-- navigation button icon -->
            <span class="xn-text">Candidates</span><!-- navigation button text -->
        </a><!-- ./navigation button -->
    </li><!-- ./navigation item -->

    <li><!-- navigation item -->
        <a ui-sref="admin.reports"><!-- navigation button -->
            <span class="fa fa-file"></span><!-- navigation button icon -->
            <span class="xn-text">Reports</span><!-- navigation button text -->
        </a><!-- ./navigation button -->
    </li><!-- ./navigation item -->

</ul><!-- ./start navigation -->
<!-- ADMIN -->