<div class="login-container" style="min-height: 800px;">
        
    <div class="login-box animated fadeInDown">
        <div class="">{{APP_LOGO}} {{APP_VERSION}}</div>
        <div class="login-body">
            <div class="login-title"><strong>Log In</strong> to your account</div>
            <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" class="form-control" ng-model="user.username" placeholder="Username"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="password" class="form-control" ng-model="user.password" placeholder="Password"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <button ui-sref="voter-login" class="btn btn-default btn-block">Voters?</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-info btn-block" ng-click="login()" >Log In</button>
                </div>
            </div>
            </div>
        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; {{APP_LOGO}} {{APP_VERSION}}
            </div>
        </div>
    </div>
    
</div>
