<ul class="x-navigation x-navigation-horizontal x-navigation-panel"><!-- horizontal navigation -->
         
    <li class="xn-icon-button"><!-- toggle sidebar navigation -->
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a><!-- toggle sidebar button -->
    </li><!-- ./toggle sidebar navigation -->


    <li class="xn-icon-button pull-right last">
        <a href="#"><span class="fa fa-power-off"></span></a>
        <ul class="xn-drop-left animated zoomIn">
            <li><a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Sign Out</a></li>
        </ul>                        
    </li> 
     
</ul><!-- ./horizontal navigation -->
 
<ul class="breadcrumb"><!-- breadcrumb -->
    <li><a href="#">Voting System</a></li><!-- link -->
    <li class="active">Voter's List</li><!-- active -->
</ul><!-- ./breadcrumb -->

<div class="page-title"><!-- page title -->
    <h2><span class="fa fa-file"></span> List</h2>
</div><!-- ./page title -->
 
<div class="page-content-wrap"><!-- page content wrapper -->

    <div class="row">
        <div class="col-md-12">
            <!-- START USERS ACTIVITY BLOCK -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Voters</h3>
                    </div>                                    
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a ui-sref="admin.add-voter"><span class="fa fa-plus"></span></a></li>                                      
                    </ul>                                    
                </div>                                
                <div class="panel-body padding-0">
                    <div class="table-responsive easyui" style="padding: 10px;">
                        <table class="easyui-datagrid" voting-datatable>
                            <thead>
                                <tr>
                                    <th data-options="field:'code'">Code</th>
                                    <th data-options="field:'fullname'">Name</th>
                                    <th data-options="field:'address'">Address</th>
                                    <th data-options="field:'contact_number'">Contact Number</th>
                                    <th data-options="field:'status'">Status</th>
                                    <th data-options="field:'action'">Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>                                    
            </div>
            <!-- END USERS ACTIVITY BLOCK -->
        </div>
    </div>

</div><!-- ./page content wrapper -->
