<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Add</strong> Candidate</h3>
            <ul class="panel-controls">
                <li><a  ng-click="cancelModal()" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>
        </div>
        <div class="panel-body">                                                                        
            <div class="form-horzintal">
            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Fullname</label>
                <div class="col-md-3 col-xs-12">                                            
                    <div class="input-group">
                        <input type="text" ng-model="candidate.firstname" placeholder="Firstname" class="form-control"/>
                    </div>                                            
                </div>
                <div class="col-md-3 col-xs-12">                                            
                    <div class="input-group">
                        <input type="text" ng-model="candidate.middlename" placeholder="Middlename" class="form-control"/>
                    </div>                                            
                </div>
                <div class="col-md-3 col-xs-12">                                            
                    <div class="input-group">
                        <input type="text" ng-model="candidate.lastname" placeholder="Lastname" class="form-control"/>
                    </div>                                            
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Address</label>
                <div class="col-md-9 col-xs-12">                                            
                    <div class="input-group">
                       <textarea class="form-control" ng-model="candidate.address" style="width: 100%;" cols="60"></textarea>
                    </div>                                            
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Mobile Number</label>
                <div class="col-md-9 col-xs-12">                                            
                    <div class="input-group">
                        <input type="text" ng-model="candidate.mobile_number" placeholder="Mobile Number" class="form-control" input-mask format="999-9999-999"/>
                    </div>                                            
                </div>
            </div>

            </div>

        </div>
        <div class="panel-footer">
            <button class="btn btn-default"  ng-click="cancelModal()">Close</button>                                    
            <button class="btn btn-primary pull-right" ng-click="add()">Save</button>
        </div>
    </div>
    </form>