<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Assign</strong> candidate for ({{title}})</h3>
            <ul class="panel-controls">
                <li><a  ng-click="cancelModal()" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>
        </div>
        <div class="panel-body">                                                                        
        
                <div class="list-group list-group-contacts scroll" style="max-height: 200px;">
                    <div class="alert alert-warning" ng-show="candidates.length <= 0">There is no available candidates to be assign.</div>                       
                    <a class="list-group-item" ng-repeat="candidate in candidates">                                 
                        <div class="list-group-status status-online"></div>
                        <img src="assets/assets/images/users/{{candidate.photo}}" class="pull-left">
                        <span class="contacts-title">{{candidate.firstname}} {{candidate.middlename}} {{candidate.lastname}}</span>
                        <p>as {{title}}</p>                                                                        
                        <div class="list-group-controls">
                            <button class="btn btn-danger" ng-show="candidate.selected" ng-click="unAssign(candidate)"><span class="fa fa-minus"></span></button>
                            <button class="btn btn-success" ng-show="!candidate.selected" ng-click="assign(candidate)"><span class="fa fa-plus"></span></button>
                        </div>                                    
                    </a>
                </div>                               

        </div>
        <div class="panel-footer">
            <button class="btn btn-default"  ng-click="cancelModal()">Back</button>                                    
            <button class="btn btn-primary pull-right" ng-click="add()" ng-show="selected_candidates.length > 0">Save</button>
        </div>
    </div>
    </form>