<div class="login-container" style="min-height: 800px;">
        
    <div class="login-box animated fadeInDown">
        <div class="">{{APP_LOGO}} {{APP_VERSION}}</div>
        <div class="login-body">
            <div class="login-title"><strong>Enter Code</strong> to start voting</div>
            <div class="form-horizontal">
                <div class="form-group" ng-show="has_login()">
                    <div class="col-md-12">
                        <input type="password" class="form-control" ng-model="user.password" placeholder="Voting Code"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-info btn-block" ng-click="proceed()" >PROCEED</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; {{APP_LOGO}} {{APP_VERSION}}
            </div>
        </div>
    </div>
    
</div>
