<ul class="x-navigation x-navigation-horizontal x-navigation-panel"><!-- horizontal navigation -->
         
    <li class="xn-icon-button"><!-- toggle sidebar navigation -->
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a><!-- toggle sidebar button -->
    </li><!-- ./toggle sidebar navigation -->


    <li class="xn-icon-button pull-right last">
        <a href="#"><span class="fa fa-power-off"></span></a>
        <ul class="xn-drop-left animated zoomIn">
            <li><a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Sign Out</a></li>
        </ul>                        
    </li> 
     
</ul><!-- ./horizontal navigation -->
 
<ul class="breadcrumb"><!-- breadcrumb -->
    <li><a href="#">Voting System</a></li><!-- link -->
    <li class="active">List of Candidates</li><!-- active -->
</ul><!-- ./breadcrumb -->

<div class="page-title"><!-- page title -->
    <h2><span class="fa fa-file"></span> Candidates List</h2>
    <button class="btn btn-default btn-condensed pull-right" ng-click="addNewCandidate()"><i class="glyphicon glyphicon-plus"></i> Add new candidate</button>
</div><!-- ./page title -->
 
<div class="page-content-wrap"><!-- page content wrapper -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive scroll" style="padding: 10px; max-height: 600px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="5%">Photo</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Contact Number</th>
                            <th>Position</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="person in persons">
                            <td><img ng-src="assets/assets/images/users/{{person.photo}}" width="100%"></td>
                            <td>{{person.firstname}} {{person.middlename}} {{person.lastname}}</td>
                            <td>{{person.address}}</td>
                            <td>{{person.mobile_number}}</td>
                            <td>{{person.position_title}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
                    
        </div>
    </div>

</div><!-- ./page content wrapper -->
   