<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Add</strong> Position</h3>
            <ul class="panel-controls">
                <li><a  ng-click="cancelModal()" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>
        </div>
        <div class="panel-body">                                                                        
            
            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Position Title</label>
                <div class="col-md-6 col-xs-12">                                            
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        <input type="text" ng-model="position.title" class="form-control"/>
                    </div>                                            
                    <span class="help-block">Sample: President, Vice-president</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Elected Count</label>
                <div class="col-md-6 col-xs-12">                                            
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        <input type="number" ng-model="position.elected_count" class="form-control"/>
                    </div>                                            
                    <span class="help-block">Sample: 1, 2...</span>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button class="btn btn-default" ng-click="cancelModal()">Close</button>                                    
            <button class="btn btn-primary pull-right" ng-click="add()">Add</button>
        </div>
    </div>
    </form>