<div class="x-hnavigation">
    <div class="x-hnavigation-logo">
        <a ui-sref="voting.index">VoteWex</a>
    </div>
    <ul>
        <li class="active">
            <a href="#">Voting</a>
        </li>

        <li>
            <a style="cursor: pointer;" ng-click="startTour()">Start a tour</a>
        </li>
    </ul>
    
    <div class="x-features">
        <div class="x-features-nav-open">
            <span class="fa fa-bars"></span>
        </div>
        <div class="pull-right">
            <div class="x-features-search">
                <input type="text" name="search">
            </div>
            <div class="x-features-profile">
                <img ng-src="assets/assets/images/users/avatar.jpg">
                <ul class="xn-drop-left animated zoomIn">
                    <li><a ui-sref="login"><span class="fa fa-sign-out"></span> Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>                        
</div>

