<div class="row stacked">
    <!-- <div class="col-md-12">
        <div class="x-chart-widget">                                    
            <div class="x-chart-widget-content">
                <div class="x-chart-widget-content-head">
                    <h4>SUMMARY</h4>               
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="x-chart-widget-informer">
                            <div class="row">
                                <div class="col-md-3" ng-repeat="vote in voting" data-step="1" data-intro="This is the total candidates per position." data-position="right">
                                    <div class="x-chart-widget-informer-item">
                                        <div class="count">{{vote.candidates.length}} <span><i class="fa fa-sitemap"></i></span></div>
                                        <div class="title">Total Candidates for {{vote.position.title}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>    
        </div>
    </div> -->

    <div class="col-md-12">
        <div class="x-chart-widget">                                    
            <div class="x-chart-widget-content" style="min-height: 900px;">
                <div class="x-chart-holder">
                    <div class="x-chart-widget-informer">
                        <div class="row">   
                            <div class="row-col-md-12 col-xs-12 col-lg-12" ng-show="!is_open()">
                                Voting is closed.
                            </div>
                            <!-- CANDIDATES -->
                            <div class="col-md-12 col-xs-12 col-lg-12" ng-show="is_open()">

                                    <div class="wizard show-submit" style="padding: 15px;" >
                                        <ul>
                                            <li ng-repeat="vote in voting" style="min-width: 15%;">
                                                <a href="#step-{{vote.voting_id}}" style="color: #FFFFFF;">
                                                    <span class="stepDesc">Step {{vote.voting_id}}<br /><small>{{vote.position.title}}</small></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div ng-repeat="vote in voting" id="step-{{vote.voting_id}}">   
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 style="font-size:18px; color:#FFF; padding-left: 15px;">{{vote.position.title}} ({{vote.position.elected_count}})</h4>
                                                    <h4 style="font-size:18px; color:#FFF; padding-left: 15px;">Total Candidates: {{vote.candidates.length}}</h4>
                                                </div>
                                                <!-- CANDIDATES -->
                                                <div class="col-md-3 col-xs-6 col-lg-2" ng-repeat="candidate in vote.candidates" ng-click="selectCandidate($event, vote, vote.position, candidate)" style="cursor: pointer;">
                                                    <div class="x-chart-widget-informer-item" style="float: none;">
                                                        <div class="panel panel-success" style="border-bottom: 2px solid #95b75d">
                                                            <div class="panel-body profile">
                                                                <div class="profile-image">
                                                                    <img src="assets/assets/images/users/user3.jpg" alt="Nadia Ali">
                                                                </div>
                                                                <div class="profile-data">
                                                                    <div class="profile-data-name" style="font-size: 16px;">{{candidate.person.firstname}} {{candidate.person.lastname}}</div>
                                                                    <div class="profile-data-title" style="color: #FFF;">for {{vote.position.title}}</div>
                                                                </div>  
                                                            </div>                              
                                                            <div class="panel-body">                                    
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <button class="btn btn-success" style="display: block; margin: auto auto;"><span class="glyphicon glyphicon-thumbs-up"></span> Vote</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- END OF CANDIDATES -->

                                            </div><!-- End of row -->
                                        </div>                          
                                    </div> 

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End of x-chart-widget-content -->
        </div><!-- End of x-chart-widget -->
    </div>
</div>

