<div class="x-dashboard-dark">

	<div class="page-container"><!-- page container -->    
	     
	    <div class="page-content" style="min-height: 800px;"><!-- page content -->       
	 		
			<div class="page-content-wrap"><!-- page content wrapper -->

				<div voting-navigation></div>

				<div class="x-content">
			    	<div ui-view="content"></div>
			    </div>
			    
			    <div class="x-content-footer">
                    Copyright &copy; 2017 {{APP_LOGO}} {{APP_VERSION}}. All rights reserved.
                </div>
			</div><!-- ./page content wrapper -->
	         
	    </div><!-- ./page content -->
	     
	</div><!-- ./page container -->   

</div>
