<div class="panel-body list-group list-group-contacts">                                
    <a href="#" class="list-group-item" ng-repeat="data in datas | orderBy:'-percentage'">
    	<div class="row">
			<div class="col-md-4">
				<div class="list-group-status status-online"></div>
		        <img ng-show="show_result" src="assets/assets/images/users/{{data.photo}}" class="pull-left">
		        <img ng-show="!show_result" src="assets/assets/images/users/bizwex-who.jpg" class="pull-left">
		        <span ng-show="show_result" class="contacts-title">{{data.firstname}} {{data.middlename}} {{data.lastname}}</span>
		        <span ng-show="!show_result" class="contacts-title">Candidate Number {{$index + 1}}</span>
		        <p>Total Votes: {{data.total_votes}}</p>   
			</div>
			<div class="col-md-8">
				<div class="progress-list" style="padding: 10px 5px;">                                               
				    <div class="progress progress-large progress-striped active">
				        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{data.percentage}}%;">{{data.percentage}}%</div>
				    </div>
				</div>	
			</div>
		</div>
    </a>                              
</div>

