<div class="panel panel-default">
    <div class="panel-body">   
        <div class="wizard">
            <ul>
                <li>
                    <a href="#step-1">
                        <span class="stepNumber">1</span>
                        <span class="stepDesc">Step 1<br /><small>Step 1 description</small></span>
                    </a>
                </li>
                <li>
                    <a href="#step-2">
                        <span class="stepNumber">2</span>
                        <span class="stepDesc">Step 2<br /><small>Step 2 description</small></span>
                    </a>
                </li>
                <li>
                    <a href="#step-3">
                        <span class="stepNumber">3</span>
                        <span class="stepDesc">Step 3<br /><small>Step 3 description</small></span>                   
                    </a>
                </li>
                <li>
                    <a href="#step-4">
                        <span class="stepNumber">4</span>
                        <span class="stepDesc">Step 4<br /><small>Step 4 description</small></span>                   
                    </a>
                </li>
            </ul>
            <div id="step-1">   
                <h4>Step 1 Content</h4>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
            </div>
            <div id="step-2">
                <h4>Step 2 Content</h4>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
            </div>                      
            <div id="step-3">
                <h4>Step 3 Content</h4>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
            </div>
            <div id="step-4">
                <h4>Step 4 Content</h4>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
            </div>                           

        </div>
    </div>
</div>