<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{APP_TITLE}}</title>

	<link rel="stylesheet" href="assets/css/theme-default.css" type="text/css" />
    <!-- <link rel="stylesheet" href="assets/prettify/prettify.css" type="text/css" /> -->

    <link rel="stylesheet" href="assets/css/bizwex-custom-app.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/custom-voting-style.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/bootstrap-fileupload.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/vendor/angular-loading/loading-bar.css" type="text/css" />
    <link rel="stylesheet" href="assets/vendor/sweetalert/sweetalert.css" type="text/css" />
    <link rel="stylesheet" href="assets/vendor/sweetalert/twitter-alert.css" type="text/css" />

    <!-- JQUERY DATA GRID -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/jeasyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/jeasyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/jeasyui/themes/color.css">


</head>
<body>
	
	<div ui-view="app"></div>

	<script type="text/javascript" src="assets/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/bootstrap/bootstrap.min.js"></script>   

    <script type="text/javascript" src="assets/js/plugins/bootstrap/bootstrap-colorpicker.js"></script><!-- Colorpicker plugin -->
	<script type="text/javascript" src="assets/js/plugins/bootstrap/bootstrap-datepicker.js"></script><!-- Datepicker plugin -->
	<script type="text/javascript" src="assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script><!-- Timepicker plugin -->
	<script type="text/javascript" src="assets/js/plugins/bootstrap/bootstrap-file-input.js"></script><!-- Custom File Input -->
	<script type="text/javascript" src="assets/js/plugins/bootstrap/bootstrap-select.js"></script><!-- Custom Select plugin -->     
    <!-- END PLUGINS -->

    <!-- START THIS PAGE PLUGINS-->        
    <script type='text/javascript' src='assets/js/plugins/icheck/icheck.min.js'></script>        
    <script type="text/javascript" src="assets/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/scrolltotop/scrolltopcontrol.js"></script>
                   
    
    <script type="text/javascript" src="assets/js/plugins/smartwizard/jquery.smartWizard-2.0.min.js"></script>        
    <script type="text/javascript" src="assets/js/plugins/jquery-validation/jquery.validate.js"></script>
    
    <script type="text/javascript" src="assets/js/bootstrap-fileupload.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/morris/raphael-min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/morris/morris.min.js"></script>

    <script type="text/javascript" src="assets/js/plugins/tour/intro.min.js"></script>
    <!-- JQUERY DATA GRID JS -->

   <!--  <script type="text/javascript" src="assets/vendor/jeasyui/jquery.min.js"></script> -->
	<script type="text/javascript" src="assets/vendor/jeasyui/jquery.easyui.min.js"></script>

    <!-- START PLUGINS -->
	<script type="text/javascript" src="assets/vendor/sweetalert/sweetalert.min.js"></script>
	<script type="text/javascript" src="assets/vendor/maskedinput/jquery.inputmask.bundle.js"></script>

	<script type="text/javascript" src="assets/angular/angular.js"></script>
	<script type="text/javascript" src="assets/angular/angular-route.js"></script>
	<script type="text/javascript" src="assets/angular/angular-ui-router.js"></script>
	<script type="text/javascript" src="assets/angular/angular-cookies.js"></script>
	<script type="text/javascript" src="assets/angular/angular-resource.min.js"></script>
	<script type="text/javascript" src="assets/vendor/angular-loading/loading-bar.js"></script>
	<script type="text/javascript" src="assets/angular/angular-ui-bootstrap.js"></script>
	<script type="text/javascript" src="assets/vendor/fileupload/ng-file-upload.js"></script>

	<!-- User Module -->
	<script type="text/javascript" src="app/v1/modules/users/user.js"></script>
	<script type="text/javascript" src="app/v1/modules/users/services/factory/UserFactory.js"></script>
	<script type="text/javascript" src="app/v1/modules/users/services/service/UserService.js"></script>
	<script type="text/javascript" src="app/v1/modules/users/controllers/userController.js"></script>
	
	<!-- Voting Module -->
	<script type="text/javascript" src="app/v1/modules/voting/voting.js"></script>
	<script type="text/javascript" src="app/v1/modules/voting/services/service/votingService.js"></script>
	<script type="text/javascript" src="app/v1/modules/voting/controllers/votingControllers.js"></script>	

	<!-- App Module -->
	<script type="text/javascript" src="app/v1/app.js"></script>
	<script type="text/javascript" src="app/v1/services/service/Service.js"></script>
	<script type="text/javascript" src="app/v1/services/factory/Factory.js"></script>
	<script type="text/javascript" src="app/v1/directives/Directive.js"></script>

	<script type="text/javascript" src="app/v1/controllers/appController.js"></script>	

	<script type="text/javascript" src="app/v1/routes.js"></script>
	
</body>
</html>