ul.notification li {
  list-style: none; }

.headerleft-custom {
  float: left;
  padding: 10px;
  margin-top: 6px; }
  .headerleft-custom h5 {
    font-size: 16px;
    font-weight: bold;
    color: #FFF; }

.setup-title {
  float: right;
  padding: 10px; }
  .setup-title h5 {
    font-size: 16px;
    font-weight: bold;
    color: #FFF; }

.setup-cover {
  position: relative;
  min-height: 900px; }
  .setup-cover .setup-start-content {
    width: 400px;
    position: absolute;
    left: 25%;
    top: 12%; }
    .setup-cover .setup-start-content h5.title {
      font-size: 16px;
      font-weight: bold;
      font-family: Arial; }
    .setup-cover .setup-start-content h5.description {
      font-size: 12px;
      font-weight: normal;
      font-family: Arial; }
  .setup-cover .setup-start {
    position: absolute;
    width: 150px;
    height: 150px;
    right: 25%;
    top: 10%; }
    .setup-cover .setup-start img {
      position: absolute;
      width: 150px;
      height: 150px; }
  .setup-cover .custom-form {
    width: 580px;
    margin: auto auto; }

.bizwex-login {
  position: relative; }
  .bizwex-login section.cover {
    position: absolute;
    width: 350px;
    height: 400px;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    transform: translate(-50%, 50%); }
    .bizwex-login section.cover img {
      width: 30%;
      display: block;
      margin: 10px auto; }
    .bizwex-login section.cover h5 {
      border-bottom: 1px solid rgba(204, 204, 204, 0.7);
      padding-bottom: 5px;
      margin-bottom: 10px; }
    .bizwex-login section.cover a.forgot-password {
      text-align: center !important;
      width: 100%; }
    .bizwex-login section.cover .contact-us {
      width: 100%;
      text-align: center; }
      .bizwex-login section.cover .contact-us h5 {
        border: none !important;
        margin-bottom: 0 !important; }
      .bizwex-login section.cover .contact-us ul li {
        display: inline-block;
        padding: 5px; }

.user-cover {
  width: 100%;
  border: 0;
  height: 80px; }
  .user-cover img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 35%;
    float: left;
    margin-right: 5px; }
  .user-cover h5 {
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0 0 30px; }
  .user-cover h4 {
    font-size: 11px; }

.bizwex-user {
  padding: 7px 30px 5px 10px;
  display: inline-block; }
  .bizwex-user a {
    color: #fff; }
    .bizwex-user a b.caret {
      color: #fff; }

/*# sourceMappingURL=bizwex-custom-app.css.map */
