.candidate-photo{
	background-color: rgba(0,0,0,.2); padding: 5px; width: 70%; height: 20%; display: block; margin: auto auto;
	position: relative;
}
.candidate-photo::after{
	content: '';
	background-color: rgba(0,0,0,1);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9;
	position: absolute;
}

.voting-selected{
	background-color: #95b75d;
}