ul.notification{
	li{
		list-style:none;
	}
}

.headerleft-custom{
	float: left;
	padding: 10px;
	margin-top: 6px;
	h5{
		font-size: 16px;
		font-weight: bold;
		color: #FFF;
	}
}

.setup-title{
	float: right;
	padding: 10px;
	h5{
		font-size: 16px;
		font-weight: bold;
		color: #FFF;
	}
}


.setup-cover{
	position:relative;
	min-height: 900px;

	.setup-start-content{
		
		width: 400px;

		position:absolute;
		left: 25%;
		top: 12%;

		h5.title{
			font-size: 16px;
			font-weight: bold;
			font-family: Arial;
		}

		h5.description{
			font-size: 12px;
			font-weight: normal;
			font-family: Arial;
		}

	}

	.setup-start{
		position:absolute;
		width: 150px;
		height: 150px;
		right:25%;
		top: 10%;

		img{
			position: absolute;
			width: 150px;
			height:150px;
		}
	}

	.custom-form{
		width: 580px;
		margin: auto auto;
	}
}


.bizwex-login{
	
	position:relative;

	section.cover{
		position: absolute;
		width: 350px;
		height: 400px;

		top: 50%;
		left: 50%;
		bottom: 50%;
		right: 50%;
		transform: translate(-50%, 50%);

		img{
			width: 30%;
			display: block;
			margin: 10px auto;
		}

		h5{
			border-bottom: 1px solid rgba(204,204,204,.7);
			padding-bottom: 5px;
			margin-bottom: 10px;
		}

		a.forgot-password{
			text-align:center !important;
			width: 100%;
		}

		.contact-us{
			width: 100%;
			text-align:center;
			h5{
				border:none !important;
				margin-bottom: 0 !important;
			}

			ul li{
				display: inline-block;
				padding: 5px;
			}
		}
	}
}


.user-cover{
	width: 100%;
	border: 0;
	height: 80px;
	img{
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		width: 35%;
		float:left;
		margin-right: 5px;
	}

	h5{
		font-size: 15px;
		font-weight:bold;
		padding: 15px 0 0 30px;
	}

	h4{
		font-size: 11px;
	}
}

.bizwex-user{
	padding:7px 30px 5px 10px;
	display: inline-block;

	a{
		color: #fff;
		b.caret{
			color: #fff;
		}
	}
}



